<div class="container-fluid">
 <h4 class="text-light mb-4">Member Details</h4>

 <div class="row col-md-12 col-lg-12 col-sm-12 custom-border">
  <table class="table text-light table-dark-custom">
   <thead>
    <tr>
     <th>Status</th>
     <th>Name</th>
     <th>Email</th>
     <th>Repo</th>
     <th></th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>Active</td>
     <td>Abhisek Ghosh</td>
     <td>ag529256gmail.com</td>
     <td>GitHub</td>
    </tr>
    <tr>
     <td>Active</td>
     <td>Abhisek Ghosh</td>
     <td>ag529256gmail.com</td>
     <td>GitHub</td>
    </tr>
    <tr>
     <td>Active</td>
     <td>Abhisek Ghosh</td>
     <td>ag529256gmail.com</td>
     <td>GitHub</td>
    </tr>
    <tr>
     <td>Active</td>
     <td>Abhisek Ghosh</td>
     <td>ag529256gmail.com</td>
     <td>GitHub</td>
    </tr>
    <tr>
     <td>Active</td>
     <td>Abhisek Ghosh</td>
     <td>ag529256gmail.com</td>
     <td>GitHub</td>
    </tr>
    <tr>
     <td>Active</td>
     <td>Abhisek Ghosh</td>
     <td>ag529256gmail.com</td>
     <td>GitHub</td>
    </tr>
    <tr>
     <td>Active</td>
     <td>Abhisek Ghosh</td>
     <td>ag529256gmail.com</td>
     <td>GitHub</td>
    </tr>
    <tr>
     <td>Active</td>
     <td>Abhisek Ghosh</td>
     <td>ag5292sdsd56gmail.com</td>
     <td>GitHub</td>
    </tr>
    <tr>
     <td>Active</td>
     <td>Abhisek Ghosh</td>
     <td>ag529256gmail.com</td>
     <td>GitHub</td>

    </tr>
   </tbody>
  </table>
 </div>
</div>