.custom-border {
  border: #555 1px solid;
  padding: 15px;
  border-radius: 5px;
}

.table-dark-custom {
  background-color: #292b2b !important;
  color: white;
}

.table-dark-custom th,
.table-dark-custom td {
  background-color: #292b2b !important;
  color: white !important;
  border-color: #444 !important;
}

.custom-textbox {
  background-color: #292b2b;
  color: white;
  border: 1px solid #555;
}
::placeholder {
  color: #555;
  opacity: 1;
  /* Ensure full visibility */
}
.custom-button {
  background-color: #292b2b;
  border: #555 2px solid;
  color: #f1c40f;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.status-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f1c40f;
  background-color: #f1c40f;
  margin: 0 3px;
  position: relative;
  vertical-align: center;
}

/* Arrow inside the circle when active */
.status-circle.active::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid 2px white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Inactive just a gray circle */
.status-circle.inactive {
  background-color: #555;
  border-color: #ccc;
}
