.custom-border {
  border: #555 1px solid;
  padding: 15px;
  border-radius: 5px;
}

.table-dark-custom {
  background-color: #292b2b !important;
  color: white;
}

.table-dark-custom th,
.table-dark-custom td {
  background-color: #292b2b !important;
  color: white !important;
  border-color: #444 !important;
}

.custom-textbox {
  background-color: #292b2b;
  color: white;
  border: 1px solid #555;
}
::placeholder {
  color: #555;
  opacity: 1;
  /* Ensure full visibility */
}
.custom-button {
  background-color: #292b2b;
  border: #555 2px solid;
  color: #f1c40f;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}
